.container {
  position: relative;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;

  /* border: 1px black solid; */
}

.row {
  display: flex;
}

.column-two-third {
  width: 66%;
}

.column-one-third {
  width: calc(100% / 3);
}

img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
