.row {
  display: flex;
}

.column {
  display: inline-block;
}

.column-two-third {
  width: 66%;
}

.column-one-third {
  width: calc(100% / 3);
}

@media screen and (max-width: 800px) {
  .row {
    display: block;
    padding: 0;
    margin: 0 auto;
  }

  .column-one-third {
    width: 100%;
  }

  .column-two-third {
    width: 100%;
  }

  .project-image img {
    width: 100%;
  }

  .about-me {
    padding: 0;
  }

  .learn-more {
    margin: 0;
  }

  /* .hero-message {

    margin-left: 0;
    margin-right: 0;
  } */

  section {
    padding-right: 50px;
    padding-left: 50px;
  }

  #projects {
    height: 1350px;
  }

  #nav {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .nav-bar li {
    margin: 0;
  }

  #hero {
    padding: 0;
    margin: 0;
  }
}
