body {
  font-family: Jua, sans-serif;
  color: #5f5f5f;
}

a,
button,
li {
  cursor: pointer;
}

#nav {
  background-color: rgb(254, 252, 243);
  height: 100px;
}

#about {
  height: 500px;
}

#hero {
  background-color: rgb(254, 252, 243);
  height: 100vh;
}

#contact {
  background-color: rgb(240, 219, 219);
}

#footer {
  background-color: rgba(219, 163, 154, 0.8);
}

header {
  position: absolute;
  right: 0;
}

.hero-message {
  width: 650px;
  margin: 35vh auto;
}

.hero-message p {
  font-size: 2.5vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-bar {
  display: flex;
  list-style: none;
}

.nav-bar li {
  margin-left: 3rem;

  /* margin-right: 2rem; */
}

.nav-bar li:first-child {
  border: 1px black solid;
  border-top: none;
  border-right: none;
  border-left: none;
}

/* about */
.profile {
  width: 200px;
}

.profile img {
  width: 100%;

  /* border-radius: 50%; */
}

/* project */
button {
  background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%) right;
  background-size: 200% 100%;
  font-family: Jua, sans-serif;
  border: 1px #3c4048 solid;
  border-radius: 3px;
  width: 80px;
  height: 20px;
  margin-right: 6px;
  transition: all 0.8s ease;
}

button:hover {
  color: rgb(255, 255, 255);
  background-position: left;
}

/* contact */
#contact span {
  display: inline-block;
  margin-right: 30px;
}

.contact-linkedin {
  font-size: 2rem;
  color: rgb(11, 101, 194);
}

.contact-github {
  font-size: 2rem;
  color: black;
}
