html {
  scroll-behavior: smooth;
}

body {
  font-family: Jua, sans-serif;
  color: #171010;
}

@keyframes right {
  100% {
    transform: translate(40%, 0);
  }
}

@keyframes left {
  100% {
    transform: translate(-25%, 0);
  }
}

a,
button,
li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#nav {
  position: fixed;
  background-color: rgb(254, 252, 243);
  height: 70px;
  width: 100%;
}

#about {
  padding-top: 70px;
  height: 100vh;
}

#hero {
  background-color: rgb(254, 252, 243);
  height: 100vh;
}

#contact {
  background-color: rgb(240, 219, 219);
  margin-top: 100px;
}

/* projects */

#projects {
  padding-top: 70px;
  height: 100vh;
}

.line {
  height: 40px;
}

header {
  position: absolute;
  right: 300px;
  top: 8px;
  animation: left 2s forwards;
}

.hero-message {
  position: absolute;
  width: 650px;
  margin: 35vh auto;
  animation: right 2s forwards;
}

.hero-message p {
  font-size: 2.5vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-bar {
  display: flex;
  list-style: none;
}

.nav-bar li {
  margin-left: 3rem;
}

/* .nav-bar li:first-child {
  border: 1px black solid;
  border-top: none;
  border-right: none;
  border-left: none;
} */

/* about */
.profile {
  width: 280px;
  height: 280px;
  margin: 0 100px 0 50px;
  border: 1px #fff solid;
  border-radius: 50%;
}

.profile img {
  width: 100%;
  border-radius: 50%;
}

.about-me {
  padding: 50px 0 100px 100px;
}

.about-me p {
  font-size: 1.5rem;

  /* line-height: 2px; */
}

.self-intro {
  margin-top: 10vh;
}

.learn-more {
  background-color: rgb(240, 219, 219);
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
}

.learn-more p {
  font-size: 1rem;
}

.learn-more:hover span {
  display: none;
}

.learn-more a p:hover::after {
  content: "RESUME";
}

/* project */
button {
  background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%) right;
  background-size: 200% 100%;
  font-family: Jua, sans-serif;
  border: 1px #3c4048 solid;
  border-radius: 3px;
  width: 80px;
  height: 20px;
  margin-right: 6px;
  transition: all 0.8s ease;
}

button:hover {
  color: rgb(255, 255, 255);
  background-position: left;
}

.project-intro {
  margin: auto 0;
}

.project-image {
  padding-top: 5px;
  padding-bottom: 10px;
}

.button-container {
  padding-left: 0;
}

/* contact */
.center {
  margin-left: calc(100% / 3);
}

#contact span {
  display: inline-block;
  margin-right: 30px;
  margin-left: 5px;
}

.contact-linkedin {
  font-size: 2rem;
  color: #5f5f5f;
}

.contact-github {
  font-size: 2rem;
  color: #5f5f5f;
}

.contact-email {
  font-size: 2rem;
  color: #5f5f5f;
}

/* footer */
.footer {
  width: 500px;
  color: #fff;
  margin-top: 20px;
  padding-bottom: 10px;
}
